{% extends 'base.html' %}
{% load static %}
{% block title %}
Tədri illəri
{% endblock %}
{% block content %}
{% include 'accounting/inc/_messages.html' %}
<div class="container">
    {% include 'accounting/inc/_messages.html' %}
    <ol class="breadcrumb text-white bg-secondary bg-gradient border-0">
        <li class="breadcrumb-item"><a href="{% url 'student:student_list' %}"><span>ŞAGİRD CƏDVƏLİ</span></a></li>
        <li class="breadcrumb-item text-secondary"><span>TƏDRİS İLİ CƏDVƏLİ</span></li>
    </ol>
    <h2 class="text-center">Tədris ili cədvəli</h2>
    <div class="row">
        <div class="col"><a class="btn btn-success btn-sm mb-2" role="button" href="{% url 'student:add_year' %}">Yeni tədris ili</a></div>
        <div class="col-md-12">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover" id="yearTable">
                    <caption>Table Caption</caption>
                    <thead class="text-nowrap text-bg-secondary">
                    <tr>
                        <th>#</th>
                        <th>
                            <span style="font-weight: normal !important; color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">Tədris ili</span><br>
                        </th>
                        <th>
                            <span style="font-weight: normal !important; color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">Sıra</span><br>
                        </th>
                        <th>
                            <span style="font-weight: normal !important; color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">Əlavə tarixi</span><br>
                        </th>
                        <th>
                            <span style="font-weight: normal !important; color: rgb(33, 37, 41); background-color: var(--bs-table-bg);">Əməliyyatlar</span><br>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in years %}
                    <tr data-id="{{ year.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ year.year }}</td>
                        <td>{{ year.order }}</td>
                        <td>{{ year.create_at }}</td>
                        <td class="text-end">
                            <a href="{% url 'student:update_year' year.id %}" class="btn btn-primary btn-sm me-2" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="Redakte et">
                                <i class="fas fa-pen-alt"></i>
                            </a>
                            <a href="{% url 'student:delete_year' year.id %}" class="btn btn-danger btn-sm me-2" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" title="Sil">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(function() {
        $("#yearTable tbody").sortable({
            update: function(event, ui) {
                let order = $(this).sortable('toArray', { attribute: 'data-id' });
                $.ajax({
                    url: '{% url "student:reorder_years" %}',
                    method: 'POST',
                    data: {
                        order: order,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        location.reload();
                    }
                });
            }
        }).disableSelection();
    });
</script>
{% endblock %}
