{% comment %}

<div class="col-12 .msg-container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success msg msg-success" role="alert">
                    {{ message }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger msg msg-error" role="alert">
                    {{ message }}
                </div>
            {% elif message.tags == 'warning' %}
                <div class="alert alert-warning msg msg-warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endcomment %}
{% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message }}',
                showConfirmButton: true,
                timer: 3000
            });
        {% endfor %}
    </script>
{% endif %}
