{% extends 'empty_base.html' %}
{% load static %}
{% block title %}
	404
{% endblock %}
{% block content %}
<div>
    <section class="section">
        <div class="container mt-5 text-center">
            <div class="page-error">
                <div class="page-inner">
                    <h1 style="font-size: 120px">404</h1>
                    <div class="page-description">
                        Axtardığınız səhifə tapılmadı.
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-primary" href="{% url 'accounting:index' %}">Əsas səhifəyə qayıdın</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}