<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Accounting{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo/default.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap">
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/sweetalert2@11.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-With-Button-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>

<body>
{% include 'accounting/inc/_nav.html' %}

{% block content %}{% endblock %}

{% include 'accounting/inc/_footer.html' %}


<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>